
.box1 button{
	margin-top:20px;
	border-radius: 50px;
	padding:10px;
	background:rgb(3, 80, 90);
	color:aliceblue;
	border:solid rgb(25, 201, 40);
}
.button button1{
background:rgb(9, 63, 65);
	border:solid rgb(193, 219, 98);
}
.button1{
float:left;
color:antiquewhite;
padding:10px;
border-radius: 50%;
margin-top:20px;
margin-left: 30px;
background:rgb(12, 96, 99);
	border:solid rgb(145, 162, 238);

}
.homeButton
{
	
	padding-left: 37%;
	padding-top: 10px;
	
	
}
.homeHeader
{
	width: 70%;
	margin-left: 15%;
	border:solid rgb(9, 141, 59);
}
.home
{
	border:solid rgb(25, 230, 103);
	font-size: 40px;
	width: 200px;
	border-radius: 25%;
	border-width: 10px;
height: 200px;
font-weight: bold;
background:rgb(104, 47, 90);
color: azure;
}
.home:hover{
	background:rgb(11, 243, 11);
		color:rgb(0, 0, 0);
	}
.flex-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
	
	
   
}
.headline{
	font-weight: bold;
	color: rgb(0, 255, 255);
	text-decoration: underline overline;
	font-size:30px;
	margin-left: 36%;
}
.flex-item{
    background: rgb(6, 219, 247);
	border-radius: 12px;
    border:solid #db12db;
    width: 40px;
	height: 40px;
	text-align: center;
	
}
.button1:hover{
background:rgb(57, 250, 106);
	color:rgb(0, 0, 0);
}
divElement{background:green;}
h{
  margin-left:45%;
border:4px;
color:white;}
.box1 button:hover{
	background:white;
	color:black;
}
.box1{
	margin-top:3px;
	padding-top:6px;
	padding-left:60%;
}
body{
	background:linear-gradient(-45deg,rgb(88, 49, 49) 40%,rgb(90, 90, 54) 0% );
}


